
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f3f5f9;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: radial-gradient(circle at top left, #45c266, #64dd92);
  color: white;
  padding: 30px 20px;
  min-height: 100vh;
}


.sidebar h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-content {
  flex: 1;
  padding: 40px;
}

.main-content h1 {
  text-align: center;
  color: #2eb35c;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.card .value {
  color: #28a745;
  font-weight: bold;
  font-size: 22px;
}
